body {
    background-image: url("Img/photo-1655159428752-c700435e9983.avif");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0 ;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px 0;
}
button:hover {
    background-color: aqua;
}
button:active {
    border: 2px solid red;
}